# DEV environment overrides
BASE_URL=https://app.dev.nesto.ca

TEST_EMAIL_PREFIX=nesto.dev.test
TEST_EMAIL_DOMAIN=mailinator.com

TEST_COUNTRY_CODE=CA
# TEST_PROVINCE=ON
# TEST_PHONE=4161234567
# TEST_PASSWORD=TestPass123!@#

TEST_EXISTING_EMAIL=nesto.dev.test+existing@mailinator.com

